:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-right: 120px;
  padding-top: 150px;
}
.map-wrapper {
  max-width: 100%;
}
.text-info{
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
  margin-top: 45px;
}
@media only screen and (max-width: 1200px) {
    :host {
        padding-left: 0px;
        padding-right: 0px;
    }
  }
