:host{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 52px;
    row-gap: 8px;
}
span{
    font-size:14px;
    flex: 0.25;
    min-width:fit-content;
}

input{
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 9px 18px;
    color: var(--grey);
    font-size: 16px;
    min-width: 172px;
    flex: 0.75;
}

input:focus{
    outline: none
}