<div class="top row">
    <img class="logo-img" ngSrc="assets/images/logo.png" height="30" width="123" >
    <div class="links row" >
        <span>Privacy Policy</span>
        <span>Terms & Conditions</span>
        <span>Blog</span>
        <span>Support</span>
    </div>
    <div class="social-wrapper" >
        <img class="social-icon" ngSrc="assets/icons/discord.png" height="16" width="16" >
        <img class="social-icon" ngSrc="assets/icons/twitter.png" height="16" width="16" >
        <img class="social-icon" ngSrc="assets/icons/instagram.png" height="16" width="16" >
    </div>
</div>
<div class="bottom row">
    <span>Copyright © SmellyCat 2020</span>
</div>
