:host{
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.content-wrapper{
    background: var(--bg-color);
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
    position: relative;
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
}