:host{
    background-color: var(--white);
    min-height: 48px;
    width: calc(100% - 237px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey);
    padding-left: 120px;
    padding-right: 117px;
}

div{
    display: flex;
    gap: 20px;
}

span{
    color: var(--dark-grey);
    font-size: 14px;
    cursor: pointer;
}