:root {
  --bg-color: #EFF1F4;
  --white:#ffffff;
  --black: #000000;
  --dark-grey:#555555;
  --grey:#A0A9BA;
  --light-grey:#D8D8D8;
  --primary-color:#fe7ffe;
  --alert-color:#c13053;
}

@font-face {
  font-family: mainFont;
  src: url(./../public/assets/fonts/manrope/main/Manrope-VariableFont_wght.ttf);
}
.map-container{
  border-radius: 13px;
}
html, body { overflow: hidden}
* {
  font-family: mainFont;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  color: var(--black);
  width: fit-content;
}

p{
  font-size: 18px;
  color: var(--black);
  font-weight: bold;
}

.center-abs {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.col{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
}

